[Unit]
Description=Coder Agent
After=network.target

[Service]
EnvironmentFile=/etc/coder/coder-agent.conf
ExecStart=/usr/local/bin/coder-agent.sh
ExecStartPre=/usr/local/bin/merge-env.sh
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
